includes:
	- phpstan-baseline.neon

parameters:
    level: 5
    phpVersion: 80200
    reportUnmatchedIgnoredErrors: false
    type_coverage:
        return: 75
        param: 75
        property: 75
        constant: 75

    tmpDir: .phpstan.cache

    paths:
        - ./config
        - ./src
        - ./tests

    ignoreErrors:

    excludePaths:
        - tests/*/__snapshots__/*
