<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xi="http://www.w3.org/2001/XInclude" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd" backupGlobals="false" bootstrap="vendor/autoload.php" colors="false" processIsolation="false" stopOnFailure="false" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <coverage>
    <report>
      <clover outputFile="./tests/_output/coverage.xml"/>
      <php outputFile="./tests/_output/coverage.serialized"/>
      <text outputFile="php://stdout" showOnlySummary="true"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
    <testsuite name="Functional">
      <directory suffix="Test.php">./tests/Functional</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="ENV" value="test" force="true"/>
  </php>
  <logging>
    <junit outputFile="./tests/_output/report.xml"/>
  </logging>
  <source>
    <include>
      <directory suffix=".php">./src/</directory>
    </include>
  </source>
</phpunit>
